{{ $limbCount := .LimbCount}}
{{ $last_limb := sub $limbCount 1}}

{{range $i := intRange 0 $limbCount }}
    {{range $j := intRange 0 $limbCount }}
        {{if eq $j $last_limb}}
            {{$i}}-{{$j}}
        {{end}}
    {{end}}
{{end}}
