package evmmax

{{ $limbCount := .LimbCount}}
{{ $limbBits := .LimbBits}}

type ModArithFunc = func (out []byte, x []byte, y []byte, mod_ctx *MontCtx) nil


func AddModImpls() []ModArithFunc {

}

func SubModImpls() []ModArithFunc {
	result := []ModArithFunc {
		{{- range $i := intRange 1 $limbCount}}
			AddMod{{mul $limbCount $limbBits}}
		{{- end}}
	}
}

func MulModMontImpls() []ModArithFunc {

}
